<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- Component Scan -->
    <context:annotation-config/>  <!-- @Autowire, @Required and @Qualifier -->
    <context:component-scan base-package="com.personal.jooq.skeleton"/> <!-- @Component, @Service, @Controller... -->


    <!-- Properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="locations" ref="propertiesLocations"/>
    </bean>

    <!-- Import Configuration -->
    <import resource="jooq-config.xml"/>

    <!-- nested beans configurations must be placed at the bottom of the files -->
    <beans profile="default">
        <util:list id="propertiesLocations">
            <value>classpath:application.properties</value>
            <value>file:///${CONFIG_OVERRIDE}</value>
        </util:list>
    </beans>
    <beans profile="it-test">
        <util:list id="propertiesLocations">
            <value>classpath:application_it_test.properties</value>
        </util:list>
    </beans>
    <!-- nested beans configurations must be placed at the bottom of the files -->
</beans>

